#Server Port
PORT = 

#Database Config
DB_URL_Local = ""

#Encryption Config
IV_LENGTH = 
ENCRYPTION_SECRET_KEY =

#Hashing Salt Round
SALT_ROUNDS = 

#Nodemailer Credentials
USER_EMAIL = 
USER_PASSWORD = 